# Variables d'environnement pour le déploiement

# Clé secrète Django (générée automatiquement par Render en production)
SECRET_KEY=votre_clé_secrète_ici

# Mode debug (False en production)
DEBUG=False

# Hôtes autorisés (séparés par des virgules)
ALLOWED_HOSTS=gestionrh.onrender.com

# URL de la base de données (générée automatiquement par Render)
DATABASE_URL=postgresql://user:password@host:port/database
