{% extends 'base.html' %}
{% load static %}

{% block title %}Connexion{% endblock %}

{% block auth_content %}
<form method="post" class="mt-4">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label"><i class="bi bi-person"></i> Nom d'utilisateur</label>
        <input type="text" name="username" class="form-control" placeholder="Entrez votre nom d'utilisateur" required>
    </div>
    <div class="mb-4">
        <label class="form-label"><i class="bi bi-lock"></i> Mot de passe</label>
        <input type="password" name="password" class="form-control" placeholder="Entrez votre mot de passe" required>
    </div>
    <button type="submit" class="btn btn-primary w-100 py-3"><i class="bi bi-box-arrow-in-right me-2"></i> Se connecter</button>
</form>
{% endblock %}